.stencil/
.vscode/
storybook-static/
build/
dist/
node_modules/

!node_modules/@lit/context/
!node_modules/@lit/localize/
!node_modules/@lit/reactive-element/
!node_modules/@material/web/
!node_modules/lit-html/
!node_modules/lit/