/* not media query - default */

page,
.menu,
topbar,
main,
drawer,
rail {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

page {
  display: grid;
  grid-template-columns: 0 0 1fr;
  grid-template-rows: min-content 1fr 0;
  grid-template-areas:
    'rail drawer topbar'
    'rail drawer main '
    'rail drawer navigation';
  background-color: var(--md-sys-color-surface);
  transition: all ease-in-out 300ms;
}

rail {
  grid-area: rail;
  opacity: 0;
  display: block;
  transition: all ease-in-out 300ms;
}

drawer {
  grid-area: drawer;
  width: 0;
  transition: width ease-in-out 300ms;
}
navigation {
  grid-area: navigation;
  display: none;
}
main {
  grid-area: main;
}

/* page with rail enabled and drawer closed */
page.rail {
  grid-template-columns: var(--_rail-width) 0 1fr;
}

page.rail rail {
  opacity: 1;
}

page.drawer-open {
  grid-template-columns: 0 var(--_drawer-width) 1fr;
}

page.drawer-open drawer {
  display: block;
  width: var(--_drawer-width);
}

page.navigation {
  grid-template-rows: min-content 1fr min-content;
}

page.navigation navigation {
  display: block;
}

/* medium media size */
page.medium {
  grid-template-columns: var(--_rail-width) 0 1fr;
}

page.medium.drawer-open {
  grid-template-columns: var(--_rail-width) 0 1fr;
}

page.medium.rail-disabled {
  grid-template-columns: 0 0 1fr;
}

page.medium.rail-disabled.drawer-open {
  grid-template-columns: 0 0 1fr;
}

page.medium drawer {
  display: block;
  background-color: color-mix(in srgb, var(--md-sys-color-scrim, #eee), transparent 5%);
  
}

page.medium drawer > * {
  width: 0;
  max-width: 0;
  transition: all ease-in-out 300ms;
}

page.medium.drawer-open drawer {
  opacity: 1;
  position: absolute;
  z-index: 100;
  left: 0;
  max-width: 100%;
  top: 0;
  height: 100%;
  
}

page.medium.drawer-open drawer > * {
  width: var(--drawer-width, 22.5rem);
  max-width: var(--drawer-width, 22.5rem);
  background-color: var(--md-sys-color-surface-container);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

/* small media size */

page.small {
  grid-template-columns: 0 0 1fr;
  grid-template-rows: min-content 1fr min-content;
}

page.small.rail {
  grid-template-columns: 0 0 1fr;
}

page.small.rail rail {
  display: none;
}

page.small navigation {
  display: block;
}

page.small.drawer-open {
  grid-template-columns: 0 0 1fr;
}

page.small.rail-disabled {
  grid-template-columns: 0 0 1fr;
}

page.small.rail-disabled.drawer-open {
  grid-template-columns: 0 0 1fr;
}

page.small.drawer-open drawer {
  position: unset;
  width: 0;
  max-width: 0;
}

page.small drawer {
  display: none;
}
page.small drawer > * {
  display: none;
}
